<?xml version="1.0" encoding="utf-8"?>

<!-- Tier2 Launch File for Realsense Cameras -->

<launch>
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">

        <!-- Reset Device before use to ensure device was closed properly last usage -->
        <arg name="initial_reset"       value="true" />

        <!-- Device Metadata Settings -->
        <arg name="device_type"         value="d435"/>

        <!-- Color Related Settings -->
        <arg name="enable_color"        value="true"/>
        <arg name="color_width"         value="640"/>
        <arg name="color_height"        value="480"/>
        <arg name="color_fps"           value="15"/>

        <!-- Depth Related Settings -->
        <arg name="enable_depth"        value="true"/>
        <arg name="depth_width"         value="640"/>
        <arg name="depth_height"        value="480"/>
        <arg name="depth_fps"           value="15"/>
        <arg name="clip_distance"       value="2" /><!-- Max Depth Threshold -->

        <!-- Align Sensor Frames -->
        <arg name="align_depth"         value="true"/>

        <!-- Group Sensor frames into one timetag -->
        <arg name="enable_sync"         value="true"/>
        <arg name="enable_pointcloud"   value="true"/>

        <!-- ROS Transformation Settings -->
        <arg name="tf_prefix"           value=""/>
        <arg name="base_frame_id"       value="r2_tool_camera"/>
        <arg name="publish_tf"          value="true"/>
        <arg name="tf_publish_rate"     value="0"/> <!-- 0 - static transform -->

        <!-- Onboard Filtering -->
        <arg name="filters"             value="disparity,spatial,temporal, decimation"/>

    </include>

</launch>