<launch>

  <!--
  <include file="$(find motoman_mh5l_moveit_config)/launch/moveit_planning_execution.launch" >
    <arg name="sim" default="true" />
    <arg name="robot_ip" unless="$(arg sim)" default="192.168.1.200" />
    <arg name="controller" unless="$(arg sim)" default="fs100" />
  </include>
-->

  <!-- TODO. Fix issues with launcher. Unknown cause. -->
  <node pkg="maze-runner" type="maze_runner.py" name="maze_runner" output="screen" launch-prefix="gnome-terminal --command" />
  <node pkg="maze-runner" type="visual_camera_positions.py" name="camera_pose_array" output="screen" launch-prefix="gnome-terminal --command" />

</launch>