<launch>

  
  <include file="$(find cluster_r123_moveit_config)/launch/moveit_planning_execution.launch" >
    <arg name="sim" default="false"/>
    <arg name="robot_ip" default="192.168.1.110" />
    <arg name="controller" default="dx200" />
  </include>


  <!-- Builds upon settings in rs_rgbd.launch w/ these modifications or critical settings. Reference subsequent launch file before modifying. -->
<!--   <include file="$(find maze-runner)/launch/rs_rgbd_custom.launch" />
    <arg name="device_type"         value="d435"/>

    <arg name="enable_color"        value="true"/>
    <arg name="color_width"         value="640"/>
    <arg name="color_height"        value="480"/>
    <arg name="color_fps"           value="16"/>

    <arg name="enable_depth"        value="true"/>
    <arg name="depth_width"         value="640"/>
    <arg name="depth_height"        value="480"/>
    <arg name="depth_fps"           value="16"/>

    <arg name="align_depth"         value="true"/>
    <arg name="enable_sync"         value="true"/>
    <arg name="enable_pointcloud"   value="true"/>

    <arg name="tf_prefix"           value=""/>
    <arg name="base_frame_id"       value="r2_tool_camera"/>
    <arg name="publish_tf"          value="true"/>
    <arg name="tf_publish_rate"     value="0"/> <!- 0 - static transform ->

    <arg name="filters"             value="disparity,spatial,temporal, decimation"/>

    <arg name="odom_frame_id"       value="origin"/>
    <arg name="enable_pose"         value="true"/>
    <arg name="publish_odom_tf"     value="true"/>

 -->

  <!-- Publish Transform from "camera" to camera mount to correct frame convention disagreements. -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 -1.579 3.14159 r2_tool_camera camera_link 100" />


  <!-- TF Listener & Publisher for the Transform between Origin and Camera -->
  <include file="$(find maze-runner)/launch/tf_camera_transform_listener.launch" />

  <!-- RVIZ Launch & Config -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find maze-runner)/config/moveit.rviz" output="screen">
  </node>



</launch>